
.nothing__main-content {
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p {
        text-align: center;
    }
}
 .fa-apple{
    color: black !important;
 
}
